body {
    font-family: 'Oswald', sans-serif;
    background-color: #333333;
}

body > header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#imgdiv {
    display: flex;
    justify-content: center;
    height: 400px;
    width: auto;
}

/* Modal Popup */

#modal-container {
    display: none;
}

#modal {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    padding: 1em;
    width: 40%;
    background-color: #262626;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    box-shadow: #0d0d0d 0px 4px 5px 3px;
    margin: auto;
    position: absolute;
    z-index: 99;
}

#modal > input {
    font-family: 'Oswald', sans-serif;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    background-color: #0d0d0d;
    color: #b3b3b3;
    transition: 300ms ease;
    width: 30%;
    margin: auto;
}

/* Body */

body > header > h1 {
    color: #b3b3b3;
    margin: auto;
}

div {
    color: dodgerblue;
}

/* Form */

body > form > fieldset {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    padding: 1em;
    width: 40%;
    background-color: #262626;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    box-shadow: #0d0d0d 0px 4px 5px 3px;
    margin: auto;
    position: relative;
}

body > form > fieldset > legend {
    color: #b3b3b3;
    font-size: x-large;
}

body > form > fieldset > legend > h1::before {
    content: ":";
    color: dodgerblue;
}

body > form > fieldset > legend > h1::after {
    content: ":";
    color: dodgerblue;
}

body > form > fieldset > h3 {
    font-size: x-large;
    color: #b3b3b3;
}

body > form > fieldset > h4 {
    font-size: x-large;
    color: #b3b3b3;
}

body > form > fieldset > h3::before {
    content: "*";
    color: crimson;
    font-size: xx-large;
}

body > form > fieldset > h4::before {
    content: "*";
    color: dodgerblue;
    font-size: xx-large;
}

body > form > fieldset > label {
    color: #b3b3b3;
    padding-top: 5px;
}

body > form > fieldset > section > input {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    background-color: #0d0d0d;
    color: #b3b3b3;
    transition: 300ms ease;
    position: relative;
    padding: 2px;
}

/* Input Icon SVG's */

body > form > fieldset > section > img {
    position: absolute;
    margin-top: -25px;
    margin-left: 86%;
}

.req::after {
    content: "*";
    color: crimson;
}

.opt::after {
    content: "*";
    color: dodgerblue;
}

.finish-button {
    display: flex;
    justify-content: center;
}

.finish-button > input {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    margin-top: 1em;
    color: #b3b3b3;
    background: #0d0d0d;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    transition: 300ms ease;
    box-shadow: #0d0d0d 0px 2px 3px 2px;
}

.finish-button > input:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

#checklabel {
    text-align: center;
    padding-top: 10px;
}

#agree {
    cursor: pointer;
}

#terms-error {
    text-align: center;
}

/* Form Specific Pseudo Classes */
    /*1*/
body > form > fieldset > section > input:webkit-autofill {
    background-color: dodgerblue;
}

body > form > fieldset > section > input:autofill {
    background-color: dodgerblue;
}
    /*2*/
body > form > fieldset > section > input:required {
    color: crimson;
}
    /*3*/
body > form > fieldset > section > input:optional {
    color: dodgerblue;
}

body > form > fieldset > section > input:required:focus {
    font-family: 'Oswald', sans-serif;
    color: #b3b3b3;
}

body > form > fieldset > section > input:optional:focus {
    font-family: 'Oswald', sans-serif;
    color: #b3b3b3;
}
    /*4*/
body > form > fieldset > input:checked {
    transform: scale(1.5, 1.5);
}

/* Help Video */

.video-link {
    width: 1em;
}

.video-link > video {
    border: 2px solid dodgerblue;
    border-radius: 3px;
    display: none;
}

a:hover > video {
    display: block;
    position: absolute;
}

/* Mobile View */

@media screen and (max-width: 900px) {
    body > header {
        display: none;
    }

    fieldset {
        width: 100%;
    }

    fieldset h4 {
        display: none;
    }

    fieldset input {
        margin: 1em;
    }

    label {
        display: none;
    }

    #checklabel {
        display: block;
        text-align: center;
    }

    #favthing {
        display: none;
    }

    #favlabel {
        display: none;
    }

    body > form > fieldset > section > input {
        width: 80%;
    }

    body > form > fieldset > section > img {
        margin-left: -40px;
        margin-top: 15px;
    }
}